# =========================
# Datasets (Kaggle / local)
# =========================
*.csv
*.parquet

# =========================
# Jupyter Notebook files
# =========================
.ipynb_checkpoints/

# =========================
# Python cache
# =========================
__pycache__/
